html, body {
    margin: 0;
    height: 100%;
}

/* Styling navigation bar */
.navbar {
    display: flex;
    background-color: black;
    height: 10%;
    width: 100%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
.navbar-left {
    flex: 60%;
    display: flex;
    align-items: center;
}
.navbar-left p {
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-right {
    padding-right: 10px;
    flex: 40%;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
}
.navbar-right a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Styling the body */
.main {
    display: flex;
    background-color: black;
    height: 90%;
    width: 100%;
}
@media screen and (max-width: 600px) {
    .main {
        flex-direction: column-reverse;
    }
}
.main-left {
    align-items: center;
    justify-content: center;
    flex: 50%;
    display: flex;
}
.main-left img {
    width: 200px;
    border-radius: 100%;
}
.main-right {
    flex: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.main-right h1 {
    font-weight: bold;
    text-align: center;
}
.main-right p {
    font-size: 12px;
}
